@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700');

body {
	font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif;
	font-size: 14px;
	padding: 0 26px;
	line-height: 1.6;
    background-color:rgb(250, 255, 253);
	word-wrap: break-word;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
    font-size: 1.2em;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

/** 大見出し */
h1 {
    font-size: 2.7em;
    font-weight: 700;
    color:#007acc;
	line-height: 2.5;
	margin-bottom: 50px;
	border-bottom: 2px solid #007acc55;
}

/** 見出し **/
h2 {
    font-weight: bold;
    font-size: 1.8em;
    color: #444;
    margin: 0.8em 0 0.8em;
    padding-left: 15px;
	line-height: 1.3em;
    border-left: 6px solid #007acc;
}

h3 {
	margin-left: 3%;
    font-weight: bold;
    font-size: 1.4em;
    color: #007acc;
	padding-left: 10px;
	line-height: 1.1em;
	border-left: 3px solid #007acc;
}

.item {
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 20px;
	padding-left: 3%;
	padding-top: 2%;
	background-color: rgb(245, 250, 255);
	border: 1px solid #99999999;
	overflow: hidden;
}

.item a{
	margin-left: 0;
	margin-top: 0;
	font-weight: bold;
    font-size: 1.5em;
    color: #007acc;
	line-height: 1.6;
	padding-left: 0;
	border-left: 0 !important;
	font-weight: bold;
}

.item .exp {
	color:#666;
    font-weight: 400;
    line-height: 1.6em;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 1.6em;
	}

	h2 {
		font-size: 1.3em;
	}
}